<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>MVC with Twig</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

		<link rel="shortcut icon" href="view/web/img/favicon.ico"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="view/web/css/base.css" media="screen"/>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="view/web/js/main.js"></script>
	</head>
	<body>
		<header>

			{# Barre de navigation #}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="index.php">Films</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul
						class="navbar-nav mr-auto">

						{# Redirige vers la pge "creer film" #}
						<li class="nav-item">
							<a class="nav-link" href="creer_film">Création</a>
						</li>
					</ul>

					{# Bouton de connexion pour les modals #}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Espace membre</button>

					{# Modal pour se connecter #}
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>


								<div class="modal-body">
									<form action="connexion" method="POST">
										<div class="form-group">
											<label for="email" class="col-form-label">Adresse e-mail :</label>
											<input type="email" class="form-control" name="email" id="email">
										</div>
										<div class="form-group">
											<label for="password" class="col-form-label">Mot de passe :</label>
											<input type="password" class="form-control" name="password" id="password">
										</div>
										<div class="form-group">
											<input type="checkbox" id="remember" name="remember">
											<label for="remember">Se souvenir de moi</label>
										</div>
										<div class="modal-footer">
											<button type="button" name="user_signUp" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#Modal_signUp">Créer un compte</button>

											<button type="submit" name="user_signIn" class="btn btn-primary">Connexion</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					{# Modal pour s'enregistrer #}
					<div class="modal fade" id="Modal_signUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form action="inscription" method="POST">
										<div class="form-group">
											<label for="user_mail" class="col-form-label">Adresse e-mail :</label>
											<input type="text" class="form-control" name="user_mail" id="user_mail">
										</div>
										<div class="form-group">
											<label for="user_password" class="col-form-label">Mot de passe :</label>
											<input type="password" class="form-control" name="user_password" id="user_password">
										</div>
										<div class="form-group">
											<label for="user_password" class="col-form-label">Repeter mot de passe :</label>
											<input type="password" class="form-control" name="user_password2" id="user_password">
										</div>
										<div class="modal-footer">
											<button type="submit" name="user_signUp" class="btn btn-success">S'enregistrer</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					{# {{session.username}}  #}
					<span>&nbsp;&nbsp;&nbsp;</span>
					{# Bouton et barre de recherche #}
					<form action="films" method="POST" class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" name="search" type="search" placeholder="Rechercher..." aria-label="Search">
						<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Go !</button>
					</form>
				</div>
			</nav>
		</header>
		<hr>
	</body>
</html>
